# Aliases for ls
if command -v exa &> /dev/null; then
  alias ls='exa --icons --classify'
  alias ll='exa --icons --classify --long --group --header --links '
  alias lla='exa --icons --classify --long --group --header --links --all'
else
  # alias ls='ls -F'
  # alias ll='ls -l'
  alias la='ls -A'
  alias lla='ls -lAh'
  # alias l='ls -CF'
fi

# tmux
tms() { tmux new-session -As ${1:-default} }

# Alias to rebuild launch services to fix messed up icon/file handler associations
if [ -x /System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister ]; then
  alias lsrebuild='/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain system -domain user'
fi

if command -v vim &> /dev/null; then
  alias vi='vim'
fi

if command -v nvim &> /dev/null; then
  alias vim='nvim'
  alias vi='nvim'
fi
