# Aliases for ls
if command -v exa &> /dev/null; then
  alias ls='exa --icons --classify'
  alias la='exa --icons --classify --all'
  alias ll='exa --icons --classify --long --group --header --links '
  alias lla='exa --icons --classify --long --group --header --links --all'
else
  alias la='ls -A'
  alias ll='ls -lh'
  alias lla='ls -lAh'
fi

# tmux
tms() {
  [ -z "$1" ] && name=default || name=$1
  tmux new-session -As $name
}

# Alias to rebuild launch services to fix messed up icon/file handler associations
if [ -x /System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister ]; then
  alias lsrebuild='/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain system -domain user'
fi

if command -v vim &> /dev/null; then
  alias vi='vim'
fi

if command -v nvim &> /dev/null; then
  alias vim='nvim'
  alias vi='nvim'
fi
