[user]
  name = Andy Miller
  email = amcoder@gmail.com
[core]
  autocrlf = false
  excludesfile = ~/.gitignore_global
  fsmonitor = true
  untrackedcache = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[color]
  ui = auto
[mergetool]
  keepBackup = false
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[pretty]
  onelinecopy = %C(auto)%h%d %s
  onelineex = %C(auto)%(decorate:prefix=        ,suffix=%n)%h %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  columns = %C(auto)%(decorate:prefix=                                    ,suffix=%n)%h %Cgreen%>(14,trunc)%cr %C(bold blue)%<(12,trunc)%an%C(auto) %s
[alias]
  check = diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904 --check
  lg = log --pretty=onelineex
  lgg = log --pretty=onelineex --graph
  fap = fetch --all --prune
  puoh = push -u origin HEAD
  clean-branches = !git fetch --quiet --all --prune \
        && git branch --merged $(git symbolic-ref refs/remotes/origin/HEAD) | grep -Ev '^\\*' | xargs git branch -d \
        && git for-each-ref --format '%(refname:strip=2) %(upstream:track)' refs/heads \
            | awk '$2 == \"[gone]\" { print $1 }' \
            | xargs git branch -D
[include]
  path=~/.gitconfig.local
