[gui]
	recentrepo = C:/Users/Miller/Dropbox/Projects/njeni.us
	recentrepo = C:/Users/Miller/qwerty
[user]
	name = Andrew Miller
	email = amcoder@gmail.com
[core]
	autocrlf = false
	excludesfile = /Users/amcoder/.gitignore_global
[color]
	ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "mvimdiff3"]
	cmd = mvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	tool = mvimdiff3
[push]
	default = simple
