[user]
	name = Andy Miller
	email = amcoder@gmail.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	untrackedcache = true
[push]
	default = simple
[color]
	ui = auto
[mergetool]
	keepBackup = false
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
  tool = vimdiff3
[alias]
	check = diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904 --check
	lg = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  lgg = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --graph
  fap = fetch --all --prune
[include]
  path=~/.gitconfig.local
[pull]
	rebase = true
[init]
	defaultBranch = main
