
.sidebar,
.sidebar-pane {
  background-color: {{base}};
  color: {{text}};
  border: none;
}
.sidebar separator {
  border: none;
}

/* Gnome >= 45.0 */
.top-bar {
  background: none;
  box-shadow: none;
  border: none;
}

.top-bar .collapse-spacing {
  padding: 0;
}
