[ColorScheme]
active_colors=#ff{{text_raw}}, #ff{{mantle_raw}}, #ff{{subtext0_raw}}, #ff{{overlay2_raw}}, #ff{{surface1_raw}}, #ff{{overlay0_raw}}, #ff{{text_raw}}, #ff{{text_raw}}, #ff{{text_raw}}, #ff{{base_raw}}, #ff{{mantle_raw}}, #ff{{overlay1_raw}}, #ff{{surface0_raw}}, #ff{{text_raw}}, #ff{{blue_raw}}, #ff{{red_raw}}, #ff{{base_raw}}, #ff{{text_raw}}, #ff{{crust_raw}}, #ff{{text_raw}}, #80{{overlay1_raw}}
disabled_colors=#ff{{subtext0_raw}}, #ff{{mantle_raw}}, #ff{{subtext0_raw}}, #ff{{overlay2_raw}}, #ff{{surface1_raw}}, #ff{{overlay0_raw}}, #ff{{subtext0_raw}}, #ff{{subtext0_raw}}, #ff{{subtext0_raw}}, #ff{{base_raw}}, #ff{{mantle_raw}}, #ff{{overlay1_raw}}, #ff{{mantle_raw}}, #ff{{overlay1_raw}}, #ff{{blue_raw}}, #ff{{red_raw}}, #ff{{base_raw}}, #ff{{text_raw}}, #ff{{crust_raw}}, #ff{{text_raw}}, #80{{overlay1_raw}}
inactive_colors=#ff{{text_raw}}, #ff{{mantle_raw}}, #ff{{subtext0_raw}}, #ff{{overlay2_raw}}, #ff{{surface1_raw}}, #ff{{overlay0_raw}}, #ff{{text_raw}}, #ff{{text_raw}}, #ff{{text_raw}}, #ff{{base_raw}}, #ff{{mantle_raw}}, #ff{{overlay1_raw}}, #ff{{surface0_raw}}, #ff{{text_raw}}, #ff{{blue_raw}}, #ff{{red_raw}}, #ff{{base_raw}}, #ff{{text_raw}}, #ff{{crust_raw}}, #ff{{text_raw}}, #80{{overlay1_raw}}
